# ケーススタディ４： アソシエーション分析（mlxtend）

In [3]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
  
# data (as pandas dataframes) 
X = online_retail.data.features 
y = online_retail.data.targets 
  
# metadata 
print(online_retail.metadata) 
  
# variable information 
print(online_retail.variables)

{'uci_id': 352, 'name': 'Online Retail', 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail', 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv', 'abstract': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 541909, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['InvoiceNo', 'StockCode'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Fri Jan 05 2024', 'dataset_doi': '10.24432/C5BW33', 'creators': ['Daqing Chen'], 'intro_paper': {'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining', 'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo', 'published_in': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3', 'year': 2012, 'url': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149', 'doi': '10.1057/dbm.2012.17'}, 'additional_info': {'summary': 'This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ", 'citation': None}}
          name     role         type demographic  \
0    InvoiceNo       ID  Categorical        None
1    StockCode       ID  Categorical        None
2  Description  Feature  Categorical        None
3     Quantity  Feature      Integer        None
4  InvoiceDate  Feature         Date        None
5    UnitPrice  Feature   Continuous        None
6   CustomerID  Feature  Categorical        None
7      Country  Feature  Categorical        None

                                         description     units missing_values
0  a 6-digit integral number uniquely assigned to...      None             no
1  a 5-digit integral number uniquely assigned to...      None             no
2                                       product name      None             no
3  the quantities of each product (item) per tran...      None             no
4  the day and time when each transaction was gen...      None             no
5                             product price per unit  sterling             no
6  a 5-digit integral number uniquely assigned to...      None             no
7  the name of the country where each customer re...      None             no

In [6]:
X.groupby('Description').sum()

,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
Description,,,,,
4 PURPLE FLOCK DINNER CANDLES,144,12/1/2010 12:4912/5/2010 10:5212/20/2010 13:43...,100.67,631941.0,United KingdomUnited KingdomUnited KingdomUnit...
50'S CHRISTMAS GIFT BAG LARGE,1913,8/22/2011 15:058/30/2011 12:498/31/2011 15:309...,185.28,1687133.0,United KingdomUnited KingdomGermanyUnited King...
DOLLY GIRL BEAKER,2448,7/24/2011 16:137/24/2011 16:157/25/2011 13:577...,271.38,2072298.0,United KingdomUnited KingdomUnited KingdomUnit...
I LOVE LONDON MINI BACKPACK,389,9/11/2011 11:299/11/2011 13:399/11/2011 13:399...,405.80,1089559.0,United KingdomUnited KingdomUnited KingdomUnit...
I LOVE LONDON MINI RUCKSACK,1,10/6/2011 9:11,4.15,14646.0,Netherlands
...,...,...,...,...,...
wrongly marked carton 22804,-256,11/10/2011 18:20,0.00,0.0,United Kingdom
wrongly marked. 23343 in box,-3100,7/14/2011 14:27,0.00,0.0,United Kingdom
wrongly sold (22719) barcode,170,3/11/2011 16:25,0.00,0.0,United Kingdom
wrongly sold as sets,-600,3/8/2011 17:23,0.00,0.0,United Kingdom
wrongly sold sets,-975,3/8/2011 17:29,0.00,0.0,United Kingdom